@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    direction: rtl;

    /* Background image */
    background-image: url("images/background.jpg");
    background-size: cover;        /* Makes it fill the screen */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents repeating */
    background-color: black;

    color: #ffffff;
}

#recipeName {
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    font-weight: 700;  /* Make it bold (optional) */
    margin: 20px 0;    /* Optional spacing */
}

html, body {
    height: 100%;
}

/* Category full-width buttons */
.category-block {
    height: 16.66vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title {
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 15px black;
}

#categoryName {
    margin-right: 36px;
    font-size: 5rem; /* if you want size */
}

/* Recipe List */
.recipe-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 3px solid rgba(255,255,255,0.25);
    border-bottom: 3px solid rgba(255,255,255,0.25);
}

.recipe-item img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin-left: 15px;
    object-fit: cover;
}

.recipe-name {
    font-size: 3rem;
    padding-right: 15px;
}

/* Recipe Page */
.recipe-container {
    padding: 20px;
}



.section-title {
    font-size: 36px;   /* completely isolated now */
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 12px;
}

#ingredients,
#steps {
    font-size: 22px;     /* smaller text */
    line-height: 32px;
}





